.label {
    color: rgb(0, 102, 161);
    font-size: 14px;
    font-weight: 600;
}
.campoDados{
    background: rgb(207, 252, 207);
    border: 1px solid green;
}
.submit{
    background: rgb(107, 238, 255);
    border: 1px solid rgb(0, 126, 158);
    color: black;
    font-weight: bold;
}