body {
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
}
h1 {
  color: rgb(0, 0, 0);
  display: flex;
  font-size: 35px;
  justify-content: center;
}
p{
  display: flex;
  font-size: 18px;
  justify-content: center;
  margin-bottom: 10rem;
}